body{
  /** font-family: 'Space+Mono', monospace; **/
  font-family: 'Dr Sugiyama', cursive, "Times New Roman", Times, serif;
  color: #f9dd8e;
  background: radial-gradient(red, #6d0000);
  margin: 0 auto;
  background-size: cover; /** This seems to work better than no-repeat (Chrome on Android issues) **/
  text-shadow: 2px 2px rgba(0,0,0,0.75);
}

#middleWrapper {
  width: 160px;
  background-color: rgba(187, 187, 187, 0);
  vertical-align: top;
}

h1 {
  display: inline;
  float:left;
}

#title {
  font-size: 42px;
}

#tm {
  float:left;
  margin-top: 0px;
}

#titleContainer {
  background-color: rgba(187, 187, 187, 0);
  display: inline-block;
  margin-top: 22px;
  height: 48px;
  vertical-align: center;
}

#sliderContainer {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 18px;
}

.slider {
  display: inline-block;
  width: 65%;
  float: left;
  margin-top: 12px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #52400d;
    height: 3px;
    border: none;
    border-radius: 3px;
    vertical-align: center;
    -webkit-box-shadow: -1px -1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 1px 0px rgba(0,0,0,0.75);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #f9dd8e;
    margin-top: -6px;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #52400d;
}

#sliderLabel {
  display: inline-block;
  font-family: Arial;
  font-size: 12px;
  float: right;
  position: relative;
  bottom: 5px;
}

#grid{
  display: grid;
  margin: auto;
  background-color: #bbb;
  grid-gap: 1px;
  -webkit-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.35);
  box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.35);
}

.square {
  background-color: #eee;
}

#header {
  background-color: rgba(187, 187, 187, 0);
  margin: auto;
}

#ribbon {
  display: table;
  height: 80%;
  width: 100%;
  text-align: center;
  background-color: rgba(187, 187, 187, 0);
  border-style: solid;
  border-color: #f9dd8e;
  border-width: 2px;
  border-radius: 15px;
  margin-top: 2%;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

.wrapper {
  background-color: rgba(187, 187, 187, 0);
  display: table-cell;
  vertical-align: middle;
}

#reset {
  margin:0 auto;
  display:block;
  background-color: #f9dd8e;
  color: #6d0000;
  border-radius: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  height: 34px;
  width: 60px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  font-family: Arial;
}

/** toggle stuff **/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9dd8e;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #9c0404;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20%;
}

input:checked + .toggle {
  background-color: orange;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.toggle.round {
  border-radius: 20%;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

.toggle.round:before {
  border-radius: 20%;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

@media all and (min-width: 400px) {
  h1 {
    font-size: 38px;
    margin-top: 0px;
  }
  #middleWrapper {
    width: 200px;
  }
  #tm {
    margin-top: 0px;
  }
  #reset {
    height: 48px;
    width: 90px;
    font-size: 16px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 51px;
  }
  .toggle:before {
    position: absolute;
    content: "";
    height: 39px;
    width: 39px;
    left: 6px;
    bottom: 6px;
    background-color: #9c0404;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20%;
    font-family: Arial;
    font-size: 10px;
  }
  input:checked + .toggle:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
  }

  @media all and (max-height: 1000px) {
    #titleContainer {
      margin-top: 13px;
      height: 38px;
    }
    #sliderContainer {
      margin-top: 15px;
    }
  }
}
